<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand main-nav__link" href="/"><img src="/assets/images/logo.png" width="125" height="45"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link main-nav__link" href="/sign-up">Sign Up For a Lesson</a>
          <img src="https://img.icons8.com/dotty/80/000000/sign-up-in-calendar.png" width="20" height="20"/>
        </li>
        <li class="nav-item">
          <a class="nav-link main-nav__link" href="/what">What a Lesson Entails</a>
          <img src="https://img.icons8.com/wired/64/000000/tennis.png" width="20" height="20"/>
        </li>
        <li class="nav-item">
          <a class="nav-link main-nav__link" href="/payment">Payment Options</a>
          <img src="https://img.icons8.com/wired/64/000000/mobile-payment.png" height="20" width="20"/>
        </li> 
        <li class="nav-item">
          <a class="nav-link main-nav__link" href="/why">Why Me</a>
          <img src="https://img.icons8.com/wired/64/000000/question-mark.png" width="20" height="20"/>
        </li>
        <li class="nav-item">
          <a class="nav-link main-nav__link" href="/contact">Contact</a>
          <img src="https://img.icons8.com/wired/64/000000/email.png" width="20" height="20"/>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Help" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 main-nav__link" type="submit">Search</button>
      </form>
    </div>
  </nav>