<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Review</title>
    <link rel="stylesheet" href="/css/review.css">
    <%- include("./includes/bootstrap.ejs") %>
</head>
<body>
    <%- include("./includes/navbar.ejs") %>
    <div style="position: relative;">
        <div class="alert alert-info" role="alert" style="width: 195px; position: absolute; left: 10px; top: 10px;">
            <a href="/reviews" style="color: #0c5460;" class="review-link"><img src="https://img.icons8.com/flat_round/64/000000/arrow-left.png" width="30" height="30" style="margin-right: 5px;"/>Back to Reviews</a>
          </div>
    </div>
    <div style="text-align: center; margin-top: 10%; margin-bottom: 10%;" class="google-form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScbzleuqMUHSBP7bXmQ8LBVTqmLx0dJGFqlHKF7NtHY64ad4g/viewform?embedded=true" width="640" height="2145" frameborder="0" marginheight="1000px" marginwidth="75%">Loading…</iframe>
    </div>
</body>
</html>