<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay for Lesson</title>
    <link rel="stylesheet" href="/css/pay.css">
    <%- include("./includes/bootstrap.ejs") %>
</head>
<body>
    <!--people, price-->
    <%- include("./includes/navbar.ejs") %>
    <div style="position: relative;">
        <div class="alert alert-info" role="alert" style="width: 215px; position: absolute; left: 10px; top: 10px;">
            <a href="/lesson-payment" style="color: #0c5460;" class="review-link"><img src="https://img.icons8.com/flat_round/64/000000/arrow-left.png" width="30" height="30" style="margin-right: 5px;"/>Back to Rates/Fees</a>
          </div>
    </div>
    <h4 class="payment-header" style="color: white;">Payment Information</h4>
    <div class="payment-information shadow-lg p-3 mb-5 bg-white rounded">
        <% if (people == 2 && price == 25) { %>
            <p>Lesson Type: <span>2 People</span></p>
            <p>Lesson Duration: <span>60 Minutes</span></p>
            <p>Price Per Person: <span>$25</span></p>
            <p>Total Price: <span>$50</span></p>
        <% } else if (people == 5 && price == 20) { %>
            <p>Lesson Type: <span>3-5 People</span></p>
            <p>Lesson Duration: <span>60 Minutes</span></p>
            <p>Price Per Person: <span>$20</span></p>
            <p>Total Price: <span>($20) * (number of people) * (number of hours selected)</span></p>
        <% } else if (people == 1 && price == 50) { %>
            <p>Lesson Type: <span>1 Person</span></p>
            <p>Lesson Duration: <span>60 Minutes</span></p>
            <p>Price Per Person: <span>$50</span></p>
            <p>Total Price: <span>$50</span></p>
        <% } else { %>
            <p>Lesson Type: <span>10 Lessons (1 Person)</span></p>
            <p>Lesson Duration: <span>60 Minutes</span></p>
            <p>Price Per Person: <span>$450 Downpayment</span></p>
            <p>Total Price: <span>$450</span></p>
        <% } %>
    </div>
    <div class="venmo-wrapper" style="text-align: center; margin-top: 10%;">
        <h6>Pay With...</h6>
        <a href="https://venmo.com/code?user_id=2457767411449856359"> <img src="/assets/images/venmo.png" height="50" width="185" style="border-radius: 0.25rem;"></a>
        <p style="color: white; margin-top: 20px;">Before you pay, make sure to have&nbsp;</span><a style="color: white; text-decoration: underline;" href="sign-up" class="link">Registered for a lesson</a></span>&nbsp;and received a lesson confirmation from me, Damien</p>
    </div>
</body>
</html>