<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/why.css">
    <%- include("./includes/bootstrap.ejs") %>
    <script src="/javascript/why.js" defer></script>
</head>
<body>
    <%- include("./includes/navbar.ejs") %>
    <div class="alert alert-primary tennis-experience" role="alert">
        <h4 class="alert-heading"></h4>
        <hr>
        <ul>
            <li>Captain and 1st Singles on the Great Neck North Varsity Tennis Team</li>
            <li>2x Nassau County Section VIII All County award winner</li>
        </ul>
        <div style="width: 100%; text-align: center;">
            <img src="/assets/images/all-county.png" width="100%" height="50%" style="box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);"/>
        </div>
      </div>
      <div class="alert alert-primary tennis-experience" role="alert">
        <h4 class="coaching-header"></h4>
        <hr>
        <span class="coaching-span">
            <span>
                <ul>
                    <li>Coached at <span><a>New York Tennis Academy</a></span></li>
                    <li>Coached at <span><a class="ref" href="https://www.gnparks.org/Calendar.aspx?EID=5123">Parkwood Tennis Camp</a></span></li>
                    <li>Head tennis coach at <span><a class="ref" href="https://ussportsinstitute.com/summer-camps-ny/summer-sports-camps-nassau-county/north-hempstead-area/great-neck-estates.html">Great Neck Estates summer camp</a></span></li>
                    <li>5-year private tennis instructor</li>
                </ul>
            </span>
            <div style="width: 100%; text-align: center;">
            <img src="/assets/images/with-kid-1.png" width="100%" height="50%" style=" box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);"/>
            </div>
        </span>
      </div>
      <hr>
</body>
</html>
