@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  height: 100%;
  width: 100%;
}

.main-background-image {
  position: absolute !important;
  width: 100% !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../assets/images/background-image.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  height: 100% !important;
  border: none !important;
  top: 0px !important;
  left: 0px !important;
  -webkit-user-select: none !important;
  z-index: -2 !important;
}

.writeable-text-wrapper {
  position: relative;
  margin-top: 20%;
  width: 100%;
  z-index: 100;
  animation: 1s scroll-up-writeable-text-wrapper;
}

.writeable-text {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.cta-actions {
  display: none;
  text-align: center;
  width: 100%;
  animation: 1.5s scroll-up-action-btns;
  margin-top: 3%;
}

.cta-btn {
  border-radius: 50px !important;
  padding: 15px 35px 15px 35px !important;
  letter-spacing: 1px !important;
  margin: 10px !important;
}

.slide-underline {
  display: none;
  color: white;
  text-align: center;
  position: absolute;
  top: 1.2rem;
  width: 100%;
  animation: 2s scroll-right-underline;
}

.pings {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: white;
}

.ping-span {
  font-weight: bold;
}

@keyframes scroll-up-writeable-text-wrapper {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 20%;
  }
}

@keyframes scroll-up-action-btns {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 3%;
  }
}

@keyframes scroll-right-underline {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}
